body {
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.hide {
  position: absolute !important;
  z-index: -1;
  opacity: 0;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-header {
  color: #212121;
}
.logo-footer {
  color: #ffffff;
}

.indent__logo {
  margin-top: 20px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
}
.social__item:not(:first-child) {
  margin-left: 10px;
}
.social__links {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__links--revers {
  fill: #ffffff;
}
.social__links:hover, .social__links:focus {
  fill: #ffffff;
  background-color: #2196f3;
}
.social__icons {
  width: 20px;
  height: 20px;
}

.button {
  cursor: pointer;
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
}
.button__hero {
  padding: 10px 32px 10px 32px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__hero:hover, .button__hero:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button__portfolio {
  padding: 6px 22px 6px 22px;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__portfolio:hover, .button__portfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.button__footer--social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border-radius: 4px;
  border: 1px solid #2196f3;
  background: #2196f3;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__footer--social:hover, .button__footer--social:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.button__modal {
  position: absolute;
  background: #ffffff;
  padding: 0;
  line-height: 0;
  top: 8px;
  right: 8px;
}
.button__modal--svg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.button__modal--svg:hover, .button__modal--svg:focus {
  fill: #2196f3;
}
.button__modal-send {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__modal-send:hover, .button__modal-send:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}
.modal__indent {
  padding: 40px;
}
.modal__title {
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.modal__text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
  color: #757575;
}
.modal__svg {
  position: absolute;
  width: 18px;
  height: 18px;
  transform: translate(15px);
}
.modal__items {
  display: flex;
  align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms;
}
.modal__items:focus-within {
  border-color: #2196f3;
  color: #2196f3;
}
.modal__items:hover, .modal__items:focus {
  fill: #2196f3;
  border-color: #2196f3;
  color: #2196f3;
}
.modal__form {
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  padding: 8px 42px;
  border-radius: 4px;
  color: #757575;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal__area {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 15px;
  border-radius: 4px;
  resize: none;
  outline: none;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__area:hover, .modal__area:focus {
  border: 1px solid #2196f3;
}
.modal__check--box {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal__contract {
  flex-direction: inherit;
  justify-content: space-around;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
  display: inline-block;
  align-items: center;
  color: #757575;
}
.modal__check {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #212121;
}
.modal__check--color {
  color: #2196f3;
}
.modal__check--hide {
  position: absolute !important;
  z-index: -1;
  opacity: 0;
}

.modal__check--hide:checked + .modal__check {
  content: " ";
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  border: none;
}

.about__list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  gap: 30px;
}
.about__secondary-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
.about__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}
.about__item {
  list-style: none;
  width: calc((100% - 90px) / 4);
}
.about__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.about__img {
  height: 70px;
  width: 70px;
}

.wawd {
  padding-top: 0;
}
.wawd__card::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  height: 70px;
  background: rgb(47, 48, 58);
  opacity: 0.8;
}
.wawd__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.wawd__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  padding: 0;
  gap: 30px;
}
.wawd__item {
  width: calc((100% - 60px) / 3);
}
.wawd__box {
  position: relative;
}
.wawd__text {
  position: absolute;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  color: #ffffff;
}
.wawd__img {
  display: block;
}

.team {
  background-color: #f5f4fa;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  gap: 30px;
}
.team__item {
  list-style: none;
  width: calc((100% - 90px) / 4);
}
.team__card {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__img {
  display: block;
}
.team__card-body {
  background-color: #ffffff;
  padding: 30px 10px;
}
.team__secondary-title {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team__text {
  color: #757575;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.clients {
  align-items: center;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients__card {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 30px;
}
.clients__card-item {
  width: calc((100% - 150px) / 6);
}
.clients__link {
  display: inline-flex;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  background-color: #f5f5f5;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.hero {
  display: block;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  max-width: 1600px;
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.portfolio__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}
.portfolio__navigation-item:not(:first-child) {
  margin-left: 8px;
}
.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio__content-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__content-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio__content-item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.portfolio__card {
  box-sizing: content-box;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 19px 23px;
}
.portfolio__card-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio__card-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}
.portfolio__card-img {
  display: block;
}
.portfolio__link {
  margin: 0;
  text-align: left;
  text-decoration: none;
  max-width: 370px;
  max-height: 404px;
  background: #ffffff;
}
.portfolio__link-active {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link-active:hover, .portfolio__link-active:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay:hover .overlay, .portfolio__overlay:focus .overlay {
  transform: translatex(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer__list {
  display: inline-flex;
}
.footer__item {
  margin-right: 70px;
}
.footer__address {
  padding: 0;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  list-style: none;
}
.footer__address-item:not(:first-child) {
  margin-top: 10px;
}
.footer__address-map {
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-map:hover, .footer__address-map:focus {
  color: #2196f3;
}
.footer__contact {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover, .footer__contact:focus {
  color: #2196f3;
}
.footer__social-title {
  padding-top: 12px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.footer__subscribe--indent {
  margin-left: 93px;
}
.footer__subscribe {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding: 14px 15px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: transparent;
}
.footer__subscribe:focus-within {
  border-color: #2196f3;
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
  line-height: 0;
}
.header__contact {
  display: inline-flex;
  align-items: center;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact:hover, .header__contact:focus {
  color: #2196f3;
  fill: #2196f3;
}
.header__contact--indent {
  margin-right: 10px;
}
.header__alignment {
  display: flex;
  align-items: center;
}
.header__alignment .link {
  position: relative;
  color: #212121;
  padding-bottom: 31px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__alignment .link:hover, .header__alignment .link:focus {
  color: #2196f3;
}
.header__alignment .link.current {
  color: #2196f3;
}
.header__alignment .link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 109%;
  transform: translate(-4.5%, -4.5%);
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}

.nav-links {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  line-height: 0;
  list-style: none;
}

.nav-links .item + .item {
  margin-left: 30px;
}

.nav-box {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.nav-box-item {
  padding-top: 32px;
  padding-bottom: 31px;
}

.nav-box .item + .item {
  margin-left: 50px;
}/*# sourceMappingURL=main.css.map */