.header {
  @media screen and (max-width: 767px) {
    height: 60px;
    display: flex;
    align-content: center;
  }
  border-bottom: 1px solid $header-border-color;

  &__nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
    line-height: 0;
    @media screen and (min-width: 768px) {
      margin-left: 88px;
      margin-right: 96px;
    }
  }

  &__contact {
    display: inline-flex;
    align-items: center;

    color: $second-color;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
    fill: $second-color;

    transition: color 250ms $cubic-bezier, fill 250ms $cubic-bezier;
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
    &--indent {
      margin-right: 10px;
    }
  }

  &__alignment {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }

    & .link {
      position: relative;
      color: $main-color;

      padding-bottom: 31px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;

      transition: color 250ms $cubic-bezier;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }

    & .link.current {
      color: $accent-color;
      &::after {
        content: '';

        position: absolute;
        bottom: -1px;
        display: block;
        width: 109%;
        transform: translate(-4.5%, -4.5%);
        height: 4px;
        border-radius: 2px;

        background: $accent-color;
      }
    }
  }
}

.nav-links {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  line-height: 0;
  list-style: none;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
      @media screen and (max-width: 1199px) {
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
}

.nav-box {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.nav-box-item {
  padding-top: 32px;
  padding-bottom: 31px;

  &:not(:first-child) {
    margin-left: 50px;
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: $accent-color;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $primery-white-color;
  z-index: 999;

  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  &__nav-box {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    color: #212121;

    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &--current {
      color: $accent-color;
    }
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px;

    &--item {
      &:not(:first-child) {
        padding-left: 10px;
        border-left: 1px solid #21212133;
      }
    }

    &--link {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-align: left;

      text-decoration: none;

      color: $accent-color;
    }
  }
  &__address {
    margin-top: auto;
    margin-bottom: 64px;
    &-item {
      &:not(:first-child) {
        margin-top: 32px;
      }
    }
  }
  &__address-phone {
    font-family: Roboto;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;

    color: $accent-color;

    text-decoration: none;
  }
  &__address-link {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;

    color: $second-color;

    text-decoration: none;
  }
}
