.header {
  border-bottom: 1px solid $header-border-color;

  &__nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
    line-height: 0;
  }

  &__contact {
    display: inline-flex;
    align-items: center;

    color: $second-color;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
    fill: $second-color;

    transition: color 250ms $cubic-bezier, fill 250ms $cubic-bezier;
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
    &--indent {
      margin-right: 10px;
    }
  }

  &__alignment {
    display: flex;
    align-items: center;

    & .link {
      position: relative;
      color: $main-color;

      padding-bottom: 31px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;

      transition: color 250ms $cubic-bezier;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }

    & .link.current {
      color: $accent-color;
      &::after {
        content: '';

        position: absolute;
        bottom: -1px;
        display: block;
        width: 109%;
        transform: translate(-4.5%, -4.5%);
        height: 4px;
        border-radius: 2px;

        background: $accent-color;
      }
    }
  }
}

.nav-links {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  line-height: 0;
  list-style: none;
}
.nav-links .item + .item {
  margin-left: 30px;
}

.nav-box {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.nav-box-item {
  padding-top: 32px;
  padding-bottom: 31px;
}

.nav-box .item + .item {
  margin-left: 50px;
}
