.portfolio {
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;

    list-style: none;
  }
  &__navigation-item {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__content-item {
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
  &__card {
    box-sizing: content-box;
    border: 1px solid $card-border-color;
    border-top: 0;
    padding: 19px 23px;
  }
  &__card-title {
    color: $main-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
  }
  &__card-text {
    color: $second-color;
    font-size: 16px;
    line-height: 1.88;
  }

  &__card-img {
    display: block;
  }
  &__link {
    margin: 0;

    text-align: left;
    text-decoration: none;

    max-width: 370px;
    max-height: 404px;
    background: $primery-white-color;
  }
  &__link-active {
    transition: background-color 250ms $cubic-bezier, fill 250ms $cubic-bezier;
    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
  }
  &__overlay {
    position: relative;
    overflow: hidden;

    &:hover .overlay,
    &:focus .overlay {
      transform: translatex(0);
    }
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: $accent-color-bg-card;
  color: $primery-white-color;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;

  transform: translatey(100%);
  transition: transform 250ms $cubic-bezier;
}
